<h2>{{title}}</h2>
<div class="question-edit">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group" [ngClass]="{ 'has-error has-feedback' : hasError('Text') }">
            <label for="text">Question text:</label>
            <br />
            <textarea id="text"
                      formControlName="Text" required
                      class="form-control"
                      placeholder="enter a suitable text..."></textarea>
            <span *ngIf="hasError('Text')"
                  class="glyphicon glyphicon-remove form-control-feedback"
                  aria-hidden="true"></span>
            <div *ngIf="hasError('Text')"
                 class="help-block">
                Text is a required field: please insert a valid text.
            </div>
        </div>

        <button *ngIf="editMode" type="submit"
                [disabled]="form.invalid"
                class="btn btn-success">
            Apply Changes
        </button>
        <button *ngIf="!editMode" type="submit"
                [disabled]="form.invalid"
                class="btn btn-success">
            Create the Quiz!
        </button>
        <button type="submit"
                (click)="onBack()"
                class="btn btn-default">
            Cancel
        </button>

        <answer-list *ngIf="editMode" [question]="question"></answer-list>
    </form>
</div>

<div class="panel panel-info"
     style="margin-top: 20px;">
    <div class="panel-heading">Form debug info</div>
    <div class="panel-body">
        <p><strong>Form value:</strong></p>
        <div class="help-block">
            {{ form.value | json }}
        </div>
        <p><strong>Form status:</strong></p>
        <div class="help-block">
            {{ form.status | json }}
        </div>
        <p><strong>Form activity log:</strong></p>
        <div class="help-block">
            <span *ngIf="activityLog"
                  [innerHTML]="activityLog"></span>
        </div>
    </div>
</div>